* {
    margin: 0;
}

/* under medium 768px */
header {
    height: 100px;
    background-color: azure;
    text-align: center;

}

body {
    background-color: aquamarine;
}

li a {
    text-decoration: none;
    color: black;
    list-style: none;
}

ul li {
    display: block;
}

/* medium 768px */
@media screen and (min-width: 768px) {

    ul li {
        display: inline-block;
        width: 60px;
    }

    header {
        height: 30px;
        text-align: center;
        padding-top: 10px;
    }

    li a {
        text-decoration: none;
        color: black;
    }

}

/* large 1024px */
@media screen and (min-width: 1024px) {
    header {
        height: 100px;
        text-align: center;
    }

    li a {
        text-decoration: none;
        color: black;
        list-style: none;
    }

    ul li {
        position: relative;
        display: block;
        left: 45%;
    }

}